# Set the timezone inside the container.
# The complete list can be found here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# eg. America/Toronto
TZ=

### LETSENCRYPT ###

# Enable ACME (Let's Encrypt) automatic SSL.
ACME_EMAIL=

# Each service should have a dedicated domain or subdomain with A-records pointing to the public IP of your server.
# eg. plex.example.com
UNIFI_HOST=
RADIUS_HOST=