### COMMON
# If you want to have your container names resolved by netdata it needs to have access to docker group.
# To achive that just add environment variable PGID=999 to netdata container,
# where 999 is a docker group id from your host. This number can be found by running:
# grep docker /etc/group | cut -d ':' -f 3
DOCKER_PGID=

# id -a to get user PUID and PGID. Typical UID and GID is 1000 and 1000.
- PUID=
- PGID=
- MEM_LIMIT=1024M #optional

# Set the timezone inside the container.
# The complete list can be found here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# eg. America/Los_Angeles
TZ=


### LETSENCRYPT ###
# Enable ACME (Let's Encrypt) automatic SSL.
ACME_EMAIL=

# Each service should have a dedicated domain or subdomain with A-records pointing to the public IP of your server.
# eg. traefik.example.com
UNIFI_HOST=
TRAEFIK_HOST=
